* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.wrapper {
    height: 350px;
    margin: 100px auto 0;
    position: relative;
    width: 700px;
}

.slider {
    background-color: dodgerblue;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.image {
    width: 700px;
    height: 350px;
}

.wrapper .controls {
    left: 80%;
    margin-left: -100px;
    position: absolute;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 15px;
    border-radius: 50%;

}

.wrapper label:after {
    border: 2px solid dodgerblue;
    content: " ";
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
    border-radius: 50%;
}

.wrapper label:hover {
    background: dodgerblue;
    background-color: dodgerblue;
    color: dodgerblue;
}




.slides {
    height: inherit;
    position: absolute;
    width: inherit;
    z-index: 0;

}

/* Стили для первого слайда */
#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5 {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}


input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.titles {
    display: none;

    font-size: 20px;
    font-weight: 700;
    color: dodgerblue;
    text-align: left;
    padding-top: 20px;
}

#slide1:checked~.contitle .titles.title1,
#slide2:checked~.contitle .titles.title2,
#slide3:checked~.contitle .titles.title3,
#slide4:checked~.contitle .titles.title4,
#slide5:checked~.contitle .titles.title5 {
    display: block;
}

.contitle {
    display: flex;
}

.titles {
    flex: 1;
    /* Занимает доступное пространство слева от кнопок */
}